/* Основные стили */
body {
    padding-top: 56px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Навигационная панель */
.navbar-brand img {
    height: 30px;
}

/* Карточки */
.card {
    box-shadow: 0 0.15rem 1.75rem 0 rgba(33, 40, 50, 0.15);
}
.card-header {
    font-weight: 500;
}